#root {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1280px;
}

.title {
  font-size: 25px;
  text-align: center;
  /* text-decoration: underline; */
  color: #05df72;
}

.white {
  font-size: 35px;
  color: #ffffff;
}

.listStyleNone {
  display: flex;
  gap: 10px;
  padding-left: 0;
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  & > * {
    padding: 20px;
    border: 1px solid coral;
    border-radius: 12px;
    transition: background-color linear 0.23s;
  }

  & p {
    margin: 6px 0;
    font-weight: 700;
  }
}

.flag {
  width: 150px !important;
  height: 80px !important;
  object-fit: cover;
}

.flag2 {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;
}

button {
  margin: 10px 10px 0 0;
}

.visited {
  color: #000;
  background-color: lightgreen;
  border: transparent;
}
